<p id="notice"><%= notice %></p>
<div class="container">
<h1>All our Flats (<%= @flats.length %>)</h1>
   <div class="row justify-content-start">
      <% @flats.each do |flat| %>
        <div class="col-4">
          <div class="card">
            <div class="card-top p-1" style="background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)),url(<%= flat.picture %>); background-size: cover;">
              <h3><%= flat.name %></h3>
              <p><%= flat.address %></p>
              <p><i class="fas fa-euro-sign"></i><%= flat.price_per_night %>   <i class="fas fa-user-friends"></i><%= flat.number_of_guests %></p>
            </div>
            <div class="card-bottom p-1">
            <%= link_to 'More info', flat %> - <%= link_to 'Edit', edit_flat_path(flat) %> - <%= link_to 'Remove', flat, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
